.circle {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: left;
    cursor: pointer;
}
.openBadge {
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 8px;
    white-space: nowrap;
}
.circle__content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}